<% layout("layouts/boilerplate.ejs") %>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1492648272180-61e45a8d98a7?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <div class="card-body">
          <h1 class="card-title">Register</h1>
          <form
            action="/register"
            class="needs-validation"
            method="POST"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <button class="btn btn-success btn-block">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
